<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<% if @user.posts.any? %>
	<% @user.posts.each do |post| %>
		<li><%= link_to post.title, post_path(post) %></li>
	<% end %>
<% end %>

<% if signed_in? %>
	<p>Signed In OK</p>
<%  else %>
	<p>Not Signed In</p>
<% end %>

<%= link_to 'Sign out', signout_path, method: "delete" %>