body { padding-top: 70px; }

.center { text-align: center; }
.right { text-align: right; }

.users-list { height: 300px; }

footer {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
}